@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Serif:ital@1&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #181818   ;
    --secondary-color: #aaaaaa ;
    --accent1-color: #e9e9e9;
    --accent2-color: #12664f;
    --accent3-color: #99621e;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Noto Serif", Lora, serif;
    --paragraph-font: "Noto Sans", Lato, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
     --headline-color-on-white:  var(--primary-color);  /* headlines on a white background */ 
     --headline-color-on-color: var(--accent1-color);  /* headlines on a colored background */ 
     --paragraph-color-on-white:  var(--primary-color);  /* paragraph text on a white background */ 
     --paragraph-color-on-color:  var(--accent1-color);  /* paragraph text on a colored background */
     --header-footer-background-color:  var(--primary-color);
     --header-footer-color:  var(--accent1-color);
     --paragraph-background-color:var(--primary-color);
     --nav-link-color: var(--accent1-color);
     --nav-background-color: var(--accent2-color);
     --nav-hover-link-color:  var(--accent1-color);
     --nav-hover-background-color: var(--accent3-color);
}
  
body {
    background-color: #fcfbfb;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#content {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--header-footer-background-color);
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--nav-background-color);
}

nav a {
    text-decoration: none;
    color: var(--nav-link-color);
    text-align: center;
    padding: 35px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-box img {
    width:100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

#hero-msg h4 {
    text-align: center;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

.home-title {
    color: var(--headline-color-on-white);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
}

.button-box {
    text-align: center;
}

.book, .join {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

.card-img {
    border: 10px solid var(--headline-color-on-white);
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

h2 {
    font-family: var(--heading-font);
    margin: 0;
}

#background {
    height: 725px;
    background-color:var(--accent1-color);
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    background-color:var(--paragraph-background-color);
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
    /*line-height: 1.5em;*/
}

.msg h2 {
    color: var(--headline-color-on-color);
    font-family: var(--heading-font);
}

.msg p {
    color: var(--paragraph-color-on-color);
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color:var(--header-footer-background-color);
    color: var(--headline-color-on-color);
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: var(--nav-hover-link-color);
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: var(--nav-link-color);
    text-decoration: none;
}

footer a:hover {

    color: var(--nav-hover-link-color);
}

.rivers-grid {
    display: grid;
    grid-template-columns: 1fr 4fr 3fr 5fr 3fr 4fr 1fr;
    grid-template-rows: 5em 2em 2em 19em 2em 2em 3em 2em 1em 2em 2em 14em 2em 2em 3em 2em 1em 2em 2em 14em 2em 2em 3em 2em;
}

.rivers-title {
    grid-column: 1/8;
    grid-row: 1;
    color: var(--headline-color-on-white);
    font-size: 2em;
    margin-top: 10px;
    text-align: center;
}

.salmon_river_card {
    grid-column: 1/8;
    grid-row: 2/9;
    background-color:var(--accent1-color);
    height: 100%;
    z-index: 1;
}

.salmon_river_accent {
    grid-column: 2/6;
    grid-row: 3/8;
    background-color:var(--paragraph-background-color);
    height: 100%;
    z-index: 2;
    box-shadow: 5px 5px 10px #6f7364;
}

.salmon_river_details {
    grid-column: 2/5;
    grid-row: 3/7;
    color: var(--paragraph-color-on-color);
    text-align: left;
    padding: 2em;
    z-index: 3;
}

.salmon_river_img {
    grid-column: 5/7;
    grid-row: 4/7;
    z-index: 4;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.gray_canyon_card {
    grid-column: 1/8;
    grid-row: 10/17;
    background-color:var(--accent1-color);
    height: 100%;
    z-index: 1;
}

.gray_canyon_accent {
    grid-column: 3/7;/*2/6*/
    grid-row: 11/16;
    background-color:var(--paragraph-background-color);
    height: 100%;
    z-index: 2;
    box-shadow: 5px 5px 10px #6f7364;
}

.gray_canyon_details {
    grid-column: 4/7;/*2/5*/
    grid-row: 11/15;
    color: var(--paragraph-color-on-color);
    text-align: left;
    padding: 2em;
    z-index: 3;
}

.gray_canyon_img {
    grid-column: 2/4;/*5/7*/
    grid-row: 12/15;
    z-index: 4;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.grand_canyon_card {
    grid-column: 1/8;
    grid-row: 18/25;
    background-color:var(--accent1-color);
    height: 100%;
    z-index: 1;
}

.grand_canyon_accent {
    grid-column: 2/6;
    grid-row: 19/24;
    background-color:var(--paragraph-background-color);
    height: 100%;
    z-index: 2;
    box-shadow: 5px 5px 10px #6f7364;
}

.grand_canyon_details {
    grid-column: 2/5;
    grid-row: 19/23;
    background-color:var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
    padding: 2em;
    text-align: left;
    z-index: 2;
}

.grand_canyon_img {
    grid-column: 5/7;
    grid-row: 20/23;
    z-index: 3;
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.faq-hero {
    grid-column: 1/4;
}

.faq-grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.question_answer_pair {
    grid-column: 2;
    text-align: left;
}

.question_answer_pair p {
    padding-left: 5em;
    padding-bottom: .5em;
}

.pair_1 {
    margin-top: -17%;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* form outline */
    padding: 1em;
    border: 1px solid var(--secondary-color);
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    /* Uniform size and alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    /* to make sure that all text fields have the same font settings
    by default, textareas have a monospace font */
    font: 1em var(--paragraph-font);

    /* uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* match form field borders */
    border: 1px solid var(--secondary-color);
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: var(--primary-color);
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

#feedback {
    background-color: var(--accent3-color);
    color: var(--accent1-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
