/*actual brand @import url('https://www.dafont.com/es/search.php?q=Skrapbook');*/
/*actual brand @import url('https://www.dafont.com/es/search.php?q=Hey+Comic');*/
/* web safe brand */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Edu+QLD+Beginner:wght@600&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #3e3e4d;
    --secondary-color: #f7bc16;
    --accent1-color: #732601;
    --accent2-color: #fee485;
    --accent3-color: #86836d;

    /* change the values below to your chosen font(s) */
    --heading-font: "Caveat", serif;
    --paragraph-font: "Edu QLD Beginner", sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */
    --headline-color-on-color: var(--primary-color);
    /* headlines on a colored background */
    --paragraph-color: var(--primary-color);
    /* paragraph text on a white background */
    --paragraph-color-on-color: var(--accent1-color);
    /* paragraph text on a colored background */
    --header-footer-background-color: var(--secondary-color);
    --header-footer-color: var(--primary-color);
    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: var(--accent1-color);
    --nav-background-color: var(--accent2-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent3-color);

    /* --headline-color-on-white:  var(--primary-color);  /* headlines on a white background */
    /* --headline-color-on-color: var(--accent1-color);  /* headlines on a colored background */
    /* --paragraph-color-on-white:  var(--primary-color);  /* paragraph text on a white background */
    /* --paragraph-color-on-color:  var(--accent1-color);  /* paragraph text on a colored background */
    /* --paragraph-background-color:var(--primary-color); */
    /* --nav-link-color: var(--primary-color); */
    /* --nav-background-color: var(--accent2-color); */
    /* --nav-hover-link-color:  var(--accent1-color); */
    /* --nav-hover-background-color: var(--accent3-color); */
}

* {
    padding: 0px;
    margin: 0px;
}

.body {
    background-color: var(--accent2-color);
    color: var(--paragraph-color);
    font-family: var(--paragraph-font);
    height: 100%;
    width: 100%;
    margin: 0px;
}

.content-grid {
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.header {
    grid-row: 1/7;
    grid-column: 1/101;
    padding: 0 1%;
    background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color), var(--nav-background-color));
    color: var(--paragraph-color-on-color);
    font-family: var(--heading-font);
}

.header-grid {
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.logo_link {
    grid-row: 1/101;
    grid-column: 11/76;
    height: 100%;
    width: 100%;
    max-height: 14rem;
    margin: auto;
    text-align: center;
}

.logo-img {
    height: 100%;
    width: 100%;
}

.language_navigation {
    grid-row: 1/101;
    grid-column: 76/101;
    max-height: 9rem;
    min-width: 8rem;
}

.language_navigation-grid {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
    gap: .005rem;
}

.language_link {
    /*setup for laptop but disabled on mobile*/
    display: none;
    grid-column: 26/101;
    width: 100%;
    min-height: 1rem;
    max-height: 10rem;
    margin: auto .5%;
    vertical-align: middle;
    border-style: inset;
    border-radius: .5rem;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font-family: var(--heading-font);
    text-decoration: none;
}

.language_link:hover {
    border-style: outset;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.current_language {
    grid-row: 10/51;
}

.other_language {
    grid-row: 51/91;
}

.language_link_mobile {
    display: unset;
    width: 44%;
}

.language_link_img {
    width: 20%;
    margin-right: .50rem;
    padding: .25rem;
    vertical-align: middle;
    border-radius: .6rem;
}

.language_link_mobile_img {
    grid-column: 1/101;
    width: 25%;
    padding: .20rem;
}

.main {
    grid-row: 7/97;
    grid-column: 1/101;
}

.main-grid {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.navigation {
    grid-row: 1/101;
    grid-column: 1/36;
    height: 100%;
    padding: 1%;
    background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color));
    font-family: var(--heading-font);
}

.nav_link {
    padding: 1rem;
    font-family: var(--heading-font);
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    background-color: unset;
    border: unset;
    color: var(--nav-link-color);
    display: block;
}

button.nav_link {
    width: 100%
}

.nav_link:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    text-align: left;
}

/* Create an active/current "tab button" class */
.navigation button.active {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.navigation button.active:hover {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.hero {
    grid-row: 1/21;
    grid-column: 36/101;
    padding: 1%;
    background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color));
    color: var(--paragraph-color-on-color);
}

.hero-grid {
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.hero-img {
    grid-row: 1/101;
    grid-column: 1/98;
    z-index: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 2em;
    border-style: outset;
}

div>h2.hero-title {
    grid-row: 30/80;
    grid-column: 10/91;
    z-index: 1;
    vertical-align: bottom;
    font-family: var(--heading-font);
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: white;
}

.home-contact-button {
    grid-row: 79/91;
    grid-column: 10/91;
    z-index: 1;
    width: 100%;
    text-align: center;
}

.button-box {
    margin: auto;
}

.button-box a {
    padding: .5em;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font-family: var(--heading-font);
    text-align: center;
    text-decoration: none;
    border-radius: .5em;
    border-style: inset;
}

.button-box a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-style: outset;
}

.home-slide-show {
    grid-row: 21/56;
    grid-column: 36/101;
    background-image: radial-gradient(circle, var(--nav-background-color), var(--paragraph-background-color));
    color: var(--paragraph-color-on-color);
}

.home-slide-show-grid {
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.home-slide-show-display {
    grid-row: 1/101;
    grid-column: 1/99;
}

.home-slide-show-display-grid {
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.home-slide-show-display-grid h1 {
    grid-row: 8/15;
    grid-column: 1/101;
    height: 100%;
    margin: unset;
    font-family: var(--heading-font);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.home-slide-show-display-grid section {
    grid-row: 15/70;
    grid-column: 16/87;
}

section.mySlides h2 {
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: large;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-family: var(--heading-font);
    color: var(--paragraph-color-on-color);
    font-size: 12px;
    padding: 0 12px;
    text-align: right;
}

.home-card-img {
    width: 100%;
    border-radius: 2rem;
    border-style: outset;
}

.home-prev,
.home-next {
    grid-row: 37/48;
    grid-column: 2/11;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: 1rem;
    padding: 1%;
    color: var(--nav-hover-background-color);
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.home-next {
    grid-column: 95/101;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: var(--nav-background-color);
}

section.mySlides p {
    font-family: var(--paragraph-font);
    font-weight: normal;
    text-align: left;
    text-align: center;
}

.main-grid h2 {
    grid-row: 70/80;
    grid-column: 1/101;
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.row {
    grid-row: 82/101;
    grid-column: 1/101;
    padding: 1.5% 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 4%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    width: 100%;
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.home-msg {
    grid-row: 57/76;
    grid-column: 36/101;
    padding: 2%;
    padding-bottom: 0;
    margin-bottom: 0;
    color: var(--headline-color-on-color);
    font-weight: bolder;
    height: 40rem;
}

.home-msg-grid {
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.home-msg h2 {
    grid-row: 1/21;
    grid-column: 1/101;
    font-family: var(--heading-font);
    line-height: 1.1rem;
    height: 6rem;
}

.home-msg p {
    grid-row: 24/62;
    grid-column: 1/101;
    text-indent: 10%;
    font-family: var(--paragraph-font);
    font-weight: normal;
    line-height: 1.1rem;
}

.home-msg h2:nth-of-type(2) {
    grid-row: 62/101;
    grid-column: 1/101;
    font-family: var(--heading-font);
    padding-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1rem;
}

.home-see-more {
    grid-row: 76/96;
    grid-column: 36/101;
    padding: 2%;
    padding-top: 0;
    margin-top: 0;
}

.home-see-more-grid {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.home-see-more-grid>h2 {
    grid-row: 1/21;
    grid-column: 1/101;
    font-family: var(--heading-font);
    font-weight: bold;
}

.gwen-home {
    grid-row: 21/101;
    grid-column: 10/91;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    border-style: outset;
}

.home-see-more-button {
    grid-row: 80/91;
    grid-column: 1/101;
    height: 70%;
    width: 70%;
    margin: 0 auto;
}

.see_more_button {
    height: .9rem;
    width: 4rem;
    padding: .5%;
    margin: 0 auto;
    vertical-align: bottom;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font-family: var(--heading-font);
    text-align: center;
    text-decoration: none;
    border-radius: .5em;
    border-style: inset;
}

.see_more_button:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-style: outset;
}

.footer {
    grid-row: 93/101;
    grid-column: 1/101;
    background-color: var(--header-footer-background-color);
    color: var(--paragraph-color-on-color);
    font-weight: bold;
}

.footer-grid {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.footer-text {
    grid-row: 1/101;
    padding: 0 5%;
    margin: auto 0;
    text-align: center;
}

.footer-copywrite {
    grid-column: 1/34;
    text-align: left;
}

.footer-site-plan {
    grid-column: 34/46;
}

.footer-contact {
    grid-column: 46/67;
}

.footer-link {
    text-decoration: none;
    color: var(--paragraph-color-on-color);
}

/**
.footer-site-plan-link {
}
/**/

/**
.footer-contact-link{
}
/**/

.footer-link:hover {
    text-decoration: none;
    color: var(--accent2-color);
}

.footer-social {
    grid-row: 1/101;
    grid-column: 67/101;
    text-align: center;
    height: 55%;
    width: 100%;
    margin: auto;
}

.footer-social-grid {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(100, 1%);
    grid-template-columns: repeat(100, 1%);
}

.footer-social-link {
    grid-row: 20/81;
    opacity: .75;
}

.footer-social-link:hover {
    opacity: 1;
}

.footer-social-facebook {
    grid-column: 1/35;
}

.footer-social-twitter {
    grid-column: 35/68;
}

.footer-social-whatsapp {
    grid-column: 68/101;
}

.footer-social-img {
    height: 90%;
    width: 90%;
    padding: 10%;
}

/**
.footer-social-facebook-img {
}
/**/

/**
.footer-social-twitter-img {
}
/**/

/**
.footer-social-whatsapp-img {
}
/**/

/**/
@media screen and (min-width: 481px) and (max-width: 768px) {
/**/

    /**/
    .header {
        grid-row: 1/6;
        grid-column: 1/101;
        padding: 0 1%;
    }
    /**/

    /**/
    .header-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .logo_link {
        grid-row: 1/101;
        grid-column: 5/72;
        grid-column: 16/81;
        height: 100%;
        width: 99%;
        max-height: 14rem;
        max-height: 16rem;
        margin: auto;
        text-align: center;
    }
    /**/

    /**/
    .logo-img {
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .language_navigation {
        grid-row: 1/101;
        grid-column: 81/101;
        max-height: 9rem;
        min-width: 5rem;
        margin: auto;
        gap: .5rem;
    }
    /**/

    /**/
    .language_navigation-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /*setup for laptop but disabled on mobile*/
    /**/
    .language_link {
        display: none;
        display: unset;
        grid-column: 1/101;
        width: 98%;
        min-height: 1rem;
        max-height: 10rem;
        margin: auto .5%;
        vertical-align: middle;
        border-style: inset;
        border-radius: .5rem;
        background-color: var(--nav-background-color);
        color: var(--nav-link-color);
        font-family: var(--heading-font);
        text-decoration: none;
    }
    /**/

    /**/
    .language_link:hover {
        border-style: outset;
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
    }
    /**/

    /**/
    .current_language {
        grid-row: 1/51;
    }
    /**/

    /**/
    .other_language {
        grid-row: 51/101;
    }
    /**/

    /**/
    .language_link_mobile {
        display: unset;
        display: none;
        width: 44%;
    }
    /**/

    /**/
    .language_link_img {
        width: 20%;
        margin-right: .50rem;
        padding: .25rem;
        vertical-align: middle;
        border-radius: .6rem;
    }
    /**/

    /**/
    .language_link_mobile_img {
        grid-column: 1/101;
        width: 25%;
        padding: .20rem;
    }
    /**/

    /**/
    .main {
        grid-row: 6/95;
        grid-column: 1/101;
    }
    /**/
    
    /**/
    .main-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/
    
    /**/
    .navigation {
        grid-column: 1/31;
        padding: 1%;
    }
    /**/

    /**/
    .hero {
        grid-row: 1/26;
        grid-column: 31/101;
        padding: 1%;
    }
    /**/

    /**/
    .hero-img {
        grid-row: 1/101;
        grid-column: 1/101;
    }
    /**/

    /**/
    div>h2.hero-title {
        grid-row: 65/86;
        grid-column: 1/101;
        color: white;
    }
    /**/

    /**/
    .home-contact-button {
        grid-row: 90/96;
        grid-column: 10/91;
    }
    /**/

    /**/
    .home-slide-show {
        grid-row: 26/71;
        grid-column: 31/101;
    }
    /**/

    /**/
    .home-slide-show-display {
        grid-row: 1/101;
        grid-column: 1/101;
    }
    /**/

    /**/
    .home-slide-show-display-grid h1 {
        grid-row: 8/15;
    }
    /**/

    /**/
    .home-slide-show-display-grid section {
        grid-row: 15/73;
        grid-column: 1/101;
        padding: 0 8%;
    }
    /**/

    /**/
    .home-prev,
    .home-next {
        grid-row: 40/43;
        grid-column: 5/11;
    }
    /**/

    /* Next & previous buttons */
    /**/
    .prev,
    .next {
        width: 1rem;
        padding: 1%;
    }
    /**/

    /* Position the "next button" to the right */
    /**/
    .home-next {
        grid-column: 95/101;
    }
    /**/

    /**/
    .main-grid h2 {
        grid-row: 80/85;
        grid-column: 1/101;
        padding: 1%;
    }
    /**/

    /**/
    .row {
        grid-row: 85/101;
        grid-column: 1/101;
        padding: 1.5% 0;
    }
    /**/

    /**/
    .home-msg {
        grid-row: 71/101;
        grid-column: 31/76;
        padding: 2%;
    }
    /**/

    /**/
    .home-msg h2 {
        grid-row: 11/26;
    }
    /**/

    /**/
    .home-msg p {
        grid-row: 36/76;
    }
    /**/

    /**/
    .home-msg h2:nth-of-type(2) {
        grid-row: 86/101;
    }
    /**/

    /**/
    .home-see-more {
        grid-row: 71/101;
        grid-column: 76/101;
        padding: 2%;
    }
    /**/

    /**/
    .home-see-more-grid h2 {
        grid-row: 11/26;
        grid-column: 1/101;
    }
    /**/

    /**/
    .gwen-home {
        grid-row: 35/86;
        grid-column: 1/101;
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .home-see-more-button {
        grid-row: 86/76;
        grid-column: 1/101;
    }
    /**/

    /**/
    .see_more_button {
        padding: .5%;
    }
    /**/

    /**/
    .footer {
        grid-row: 95/101;
        grid-column: 1/101;
        background-color: var(--header-footer-background-color);
        color: var(--paragraph-color-on-color);
        font-weight: bold;
    }
    /**/

    /**/
    .footer-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .footer-text {
        grid-row: 1/101;
        padding: 0 5%;
        margin: auto 0;
        text-align: center;
    }
    /**/

    /**/
    .footer-copywrite {
        grid-column: 1/34;
        text-align: left;
    }
    /**/

    /**/
    .footer-site-plan {
        grid-column: 34/46;
    }
    /**/

    /**/
    .footer-contact {
        grid-column: 46/67;
    }
    /**/

    /**/
    .footer-link {
        text-decoration: none;
        color: var(--paragraph-color-on-color);
    }
    /**/

    /**
    .footer-site-plan-link {
    }
    /**/

    /**
    .footer-contact-link{
    }
    /**/

    /**/
    .footer-link:hover {
        text-decoration: none;
        color: var(--accent2-color);
    }
    /**/

    /**/
    .footer-social {
        grid-row: 1/101;
        grid-column: 67/101;
        height: 100%;
        text-align: center;
    }
    /**/

    /**/
    .footer-social-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .footer-social-link {
        grid-row: 20/81;
        opacity: .75;
    }
    /**/

    /**/
    .footer-social-link:hover {
        opacity: 1;
    }
    /**/
    
    /**/
    .footer-social-facebook {
        grid-column: 1/35;
    }
    /**/

    /**/
    .footer-social-twitter {
        grid-column: 35/68;
    }
    /**/

    /**/
    .footer-social-whatsapp {
        grid-column: 68/101;
    }
    /**/

    /**/
    .footer-social-img {
        height: 65%;
        width: 65%;
        padding: 20%;
    }
    /**/

    /**
    .footer-social-facebook-img {
    }
    /**/

    /**
    .footer-social-twitter-img {
    }
    /**/

    /**
    .footer-social-whatsapp-img {
    }
    /**/
/**/
}
/**/

/**/
@media screen and (min-width: 769px) and (max-width: 1024px) {
/**/

    /**/
    .header {
        grid-row: 1/8;
        grid-column: 1/101;
        padding: 0 1%;
    }
    /**/

    /**/
    .header-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .logo_link {
        grid-row: 1/101;
        grid-column: 5/72;
        grid-column: 16/86;
        height: 100%;
        width: 99%;
        max-height: 14rem;
        max-height: 16rem;
        margin: auto;
        text-align: center;
    }
    /**/

    /**/
    .logo-img {
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .language_navigation {
        grid-row: 1/101;
        grid-column: 86/101;
        max-height: 9rem;
        min-width: 6rem;
        margin: auto;
        gap: .5rem;
    }
    /**/

    /**/
    .language_navigation-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /*setup for laptop but disabled on mobile*/
    /**/
    .language_link {
        display: none;
        display: unset;
        grid-column: 1/101;
        width: 98%;
        min-height: 1rem;
        max-height: 10rem;
        margin: auto .5%;
        vertical-align: middle;
        border-style: inset;
        border-radius: .5rem;
        background-color: var(--nav-background-color);
        color: var(--nav-link-color);
        font-family: var(--heading-font);
        text-decoration: none;
    }
    /**/

    /**/
    .language_link:hover {
        border-style: outset;
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
    }
    /**/

    /**/
    .current_language {
        grid-row: 1/51;
    }
    /**/

    /**/
    .other_language {
        grid-row: 51/101;
    }
    /**/

    /**/
    .language_link_mobile {
        display: unset;
        display: none;
        width: 44%;
    }
    /**/

    /**/
    .language_link_img {
        width: 20%;
        margin-right: .50rem;
        padding: .25rem;
        vertical-align: middle;
        border-radius: .6rem;
    }
    /**/

    /**/
    .language_link_mobile_img {
        grid-column: 1/101;
        width: 25%;
        padding: .20rem;
    }
    /**/

    /**/
    .main {
        grid-row: 8/96;
        grid-column: 1/101;
    }
    /**/
    
    /**/
    .main-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/
    
    /**/
    .navigation {
        grid-column: 1/31;
        padding: 1%;
    }
    /**/

    /**/
    .hero {
        grid-row: 1/31;
        grid-column: 31/101;
        padding: 1%;
    }
    /**/

    /**/
    .hero-img {
        grid-row: 1/101;
        grid-column: 1/101;
    }
    /**/

    /**/
    div>h2.hero-title {
        grid-row: 79/90;
        grid-column: 1/101;
        color: white;
    }
    /**/

    /**/
    .home-contact-button {
        grid-row: 93/98;
        grid-column: 10/91;
    }
    /**/

    /**/
    .home-slide-show {
        grid-row: 31/78;
        grid-column: 31/101;
    }
    /**/

    /**/
    .home-slide-show-display {
        grid-row: 1/101;
        grid-column: 1/101;
    }
    /**/

    /**/
    .home-slide-show-display h1 {
        grid-row: 2/7;
        grid-column: 1/101;
    }
    /**/

    /**/
    .home-slide-show-display section {
        grid-row: 7/73;
        grid-column: 1/101;
        padding: 0 8%;
    }
    /**/

    /**/
    .home-prev,
    .home-next {
        grid-row: 40/43;
        grid-column: 5/11;
    }
    /**/

    /* Next & previous buttons */
    /**/
    .prev,
    .next {
        width: 1rem;
        padding: 1%;
    }
    /**/

    /* Position the "next button" to the right */
    /**/
    .home-next {
        grid-column: 95/101;
    }
    /**/

    /**/
    .main-grid h2 {
        grid-row: 76/81;
        grid-column: 1/101;
        padding: 1%;
    }
    /**/

    /**/
    .row {
        grid-row: 78/101;
        grid-column: 1/101;
        padding: 1.5% 0;
    }
    /**/

    /**/
    .home-msg {
        grid-row: 78/101;
        grid-column: 31/76;
        padding: 2%;
    }
    /**/

    /**/
    .home-msg h2 {
        grid-row: 11/26;
    }
    /**/

    /**/
    .home-msg p {
        grid-row: 36/76;
    }
    /**/

    /**/
    .home-msg h2:nth-of-type(2) {
        grid-row: 86/101;
    }
    /**/

    /**/
    .home-see-more {
        grid-row: 78/101;
        grid-column: 76/101;
        padding: 2%;
    }
    /**/

    /**/
    .home-see-more-grid h2 {
        grid-row: 11/26;
        grid-column: 1/101;
    }
    /**/

    /**/
    .gwen-home {
        grid-row: 35/87;
        grid-column: 1/101;
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .home-see-more-button {
        grid-row: 81/86;
        grid-column: 1/101;
    }
    /**/

    /**/
    .see_more_button {
        padding: .5%;
    }
    /**/

    /**/
    .footer {
        grid-row: 96/101;
        grid-column: 1/101;
        background-color: var(--header-footer-background-color);
        color: var(--paragraph-color-on-color);
        font-weight: bold;
    }
    /**/

    /**/
    .footer-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .footer-text {
        grid-row: 1/101;
        padding: 0 5%;
        margin: auto 0;
        text-align: center;
    }
    /**/

    /**/
    .footer-copywrite {
        grid-column: 1/34;
        text-align: left;
    }
    /**/

    /**/
    .footer-site-plan {
        grid-column: 34/46;
    }
    /**/

    /**/
    .footer-contact {
        grid-column: 46/67;
    }
    /**/

    /**/
    .footer-link {
        text-decoration: none;
        color: var(--paragraph-color-on-color);
    }
    /**/

    /**
    .footer-site-plan-link {
    }
    /**/

    /**
    .footer-contact-link{
    }
    /**/

    /**/
    .footer-link:hover {
        text-decoration: none;
        color: var(--accent2-color);
    }
    /**/

    /**/
    .footer-social {
        grid-row: 1/101;
        grid-column: 67/101;
        height: 100%;
        text-align: center;
    }
    /**/

    /**/
    .footer-social-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .footer-social-link {
        grid-row: 20/81;
        opacity: .75;
    }
    /**/

    /**/
    .footer-social-link:hover {
        opacity: 1;
    }
    /**/
    
    /**/
    .footer-social-facebook {
        grid-column: 1/35;
    }
    /**/

    /**/
    .footer-social-twitter {
        grid-column: 35/68;
    }
    /**/

    /**/
    .footer-social-whatsapp {
        grid-column: 68/101;
    }
    /**/

    /**/
    .footer-social-img {
        height: 65%;
        width: 65%;
        padding: 15%;
    }
    /**/

    /**
    .footer-social-facebook-img {
    }
    /**/

    /**
    .footer-social-twitter-img {
    }
    /**/

    /**
    .footer-social-whatsapp-img {
    }
    /**/

/**/
}
/**/

/**/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
/**/

    /**/
    .header {
        grid-row: 1/8;
        grid-column: 1/101;
        padding: 0 1%;
    }
    /**/

    /**/
    .header-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .logo_link {
        grid-row: 1/101;
        grid-column: 5/72;
        grid-column: 16/86;
        height: 100%;
        width: 99%;
        max-height: 14rem;
        max-height: 16rem;
        margin: auto;
        text-align: center;
    }
    /**/

    /**/
    .logo-img {
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .language_navigation {
        grid-row: 1/101;
        grid-column: 72/101;
        grid-column: 86/101;
        max-height: 9rem;
        min-width: 8rem;
        margin: auto;
        gap: .5rem;
    }
    /**/

    /**/
    .language_navigation-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /*setup for laptop but disabled on mobile*/
    /**/
    .language_link {
        display: none;
        display: unset;
        grid-column: 1/101;
        width: 98%;
        min-height: 1rem;
        max-height: 10rem;
        margin: auto .5%;
        vertical-align: middle;
        border-style: inset;
        border-radius: .5rem;
        background-color: var(--nav-background-color);
        color: var(--nav-link-color);
        font-family: var(--heading-font);
        text-decoration: none;
    }
    /**/

    /**/
    .language_link:hover {
        border-style: outset;
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
    }
    /**/

    /**/
    .current_language {
        grid-row: 1/51;
    }
    /**/

    /**/
    .other_language {
        grid-row: 51/101;
    }
    /**/

    /**/
    .language_link_mobile {
        display: unset;
        display: none;
        width: 44%;
    }
    /**/

    /**/
    .language_link_img {
        width: 20%;
        margin-right: .50rem;
        padding: .25rem;
        vertical-align: middle;
        border-radius: .6rem;
    }
    /**/

    /**/
    .language_link_mobile_img {
        grid-column: 1/101;
        width: 25%;
        padding: .20rem;
    }
    /**/

    /**/
    .main {
        grid-row: 8/98;
        grid-column: 1/101;
    }
    /**/
    
    /**/
    .main-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/
    
    /**/
    .navigation {
        grid-column: 1/31;
        padding: 1%;
    }
    /**/

    /**/
    .hero {
        grid-row: 1/33;
        grid-column: 31/101;
        padding: 1%;
    }
    /**/

    /**/
    .hero-img {
        grid-row: 1/101;
        grid-column: 1/101;
    }
    /**/

    /**/
    div>h2.hero-title {
        grid-row: 79/90;
        grid-column: 1/101;
        color: white;
    }
    /**/

    /**/
    .home-contact-button {
        grid-row: 93/98;
        grid-column: 10/91;
    }
    /**/

    /**/
    .home-slide-show {
        grid-row: 33/78;
        grid-column: 31/101;
    }
    /**/

    /**/
    .home-slide-show-display {
        grid-row: 1/101;
        grid-column: 1/101;
    }
    /**/

    /**/
    .home-slide-show-display h1 {
        grid-row: 2/7;
        grid-column: 1/101;
    }
    /**/

    /**/
    .home-slide-show-display section {
        grid-row: 7/73;
        grid-column: 1/101;
        padding: 0 8%;
    }
    /**/

    /**/
    .home-prev,
    .home-next {
        grid-row: 40/43;
        grid-column: 5/11;
    }
    /**/

    /* Next & previous buttons */
    /**/
    .prev,
    .next {
        width: 1rem;
        padding: 1%;
    }
    /**/

    /* Position the "next button" to the right */
    /**/
    .home-next {
        grid-column: 95/101;
    }
    /**/

    /**/
    .main-grid h2 {
        grid-row: 76/81;
        grid-column: 1/101;
        padding: 1%;
    }
    /**/

    /**/
    .row {
        grid-row: 78/101;
        grid-column: 1/101;
        padding: 1.5% 0;
    }
    /**/

    /**/
    .home-msg {
        grid-row: 78/101;
        grid-column: 31/76;
        padding: 2%;
    }
    /**/

    /**/
    .home-msg h2 {
        grid-row: 11/26;
    }
    /**/

    /**/
    .home-msg p {
        grid-row: 36/76;
    }
    /**/

    /**/
    .home-msg h2:nth-of-type(2) {
        grid-row: 86/101;
    }
    /**/

    /**/
    .home-see-more {
        grid-row: 78/101;
        grid-column: 76/101;
        padding: 2%;
    }
    /**/

    /**/
    .home-see-more-grid h2 {
        grid-row: 11/26;
        grid-column: 1/101;
    }
    /**/

    /**/
    .gwen-home {
        grid-row: 35/87;
        grid-column: 1/101;
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .home-see-more-button {
        grid-row: 81/86;
        grid-column: 1/101;
    }
    /**/

    /**/
    .see_more_button {
        padding: .5%;
    }
    /**/

    /**/
    .footer {
        grid-row: 98/101;
        grid-column: 1/101;
        background-color: var(--header-footer-background-color);
        color: var(--paragraph-color-on-color);
        font-weight: bold;
    }
    /**/

    /**/
    .footer-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .footer-text {
        grid-row: 1/101;
        padding: 0 5%;
        margin: auto 0;
        text-align: center;
    }
    /**/

    /**/
    .footer-copywrite {
        grid-column: 1/34;
        text-align: left;
    }
    /**/

    /**/
    .footer-site-plan {
        grid-column: 34/46;
    }
    /**/

    /**/
    .footer-contact {
        grid-column: 46/67;
    }
    /**/

    /**/
    .footer-link {
        text-decoration: none;
        color: var(--paragraph-color-on-color);
    }
    /**/

    /**
    .footer-site-plan-link {
    }
    /**/

    /**
    .footer-contact-link{
    }
    /**/

    /**/
    .footer-link:hover {
        text-decoration: none;
        color: var(--accent2-color);
    }
    /**/

    /**/
    .footer-social {
        grid-row: 1/101;
        grid-column: 67/101;
        height: 100%;
        text-align: center;
    }
    /**/

    /**/
    .footer-social-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    /**/

    /**/
    .footer-social-link {
        grid-row: 20/81;
        opacity: .75;
    }
    /**/

    /**/
    .footer-social-link:hover {
        opacity: 1;
    }
    /**/

    /**/
    .footer-social-facebook {
        grid-column: 1/35;
    }
    /**/

    /**/
    .footer-social-twitter {
        grid-column: 35/68;
    }
    /**/

    /**/
    .footer-social-whatsapp {
        grid-column: 68/101;
    }
    /**/

    /**/
    .footer-social-img {
        height: 80%;
        width: 40%;
        padding: 5%;
    }
    /**/

    /**
    .footer-social-facebook-img {
    }
    /**/

    /**
    .footer-social-twitter-img {
    }
    /**/

    /**
    .footer-social-whatsapp-img {
    }
    /**/

/**/
}
/**/

@media screen and (min-width: 1201px) {
    .header {
        grid-row: 1/7;
        grid-column: 1/101;
        padding: 0 1%;
    }

    .header-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }

    .logo_link {
        grid-row: 1/101;
        grid-column: 5/72;
        grid-column: 16/86;
        height: 100%;
        width: 99%;
        max-height: 14rem;
        max-height: 16rem;
        margin: auto;
        text-align: center;
    }

    .logo-img {
        height: 100%;
        width: 100%;
    }

    .language_navigation {
        grid-row: 1/101;
        grid-column: 72/101;
        grid-column: 86/101;
        max-height: 9rem;
        min-width: 8rem;
        margin: auto;
        gap: .5rem;
    }

    .language_navigation-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }

    .language_link {
        /*setup for laptop but disabled on mobile*/
        display: none;
        display: unset;
        grid-column: 1/101;
        width: 98%;
        min-height: 1rem;
        max-height: 10rem;
        margin: auto .5%;
        vertical-align: middle;
        border-style: inset;
        border-radius: .5rem;
        background-color: var(--nav-background-color);
        color: var(--nav-link-color);
        font-family: var(--heading-font);
        text-decoration: none;
    }

    .language_link:hover {
        border-style: outset;
        background-color: var(--nav-hover-background-color);
        color: var(--nav-hover-link-color);
    }

    .current_language {
        grid-row: 1/51;
    }

    .other_language {
        grid-row: 51/101;
    }

    .language_link_mobile {
        display: unset;
        display: none;
        width: 44%;
    }

    .language_link_img {
        width: 20%;
        margin-right: .50rem;
        padding: .25rem;
        vertical-align: middle;
        border-radius: .6rem;
    }

    .language_link_mobile_img {
        grid-column: 1/101;
        width: 25%;
        padding: .20rem;
    }

    .main {
        grid-row: 7/98;
        grid-column: 1/101;
    }
    
    .main-grid {
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }
    
    .navigation {
        grid-column: 1/21;
        height: 100%;
        padding: 1%;
    }

    .hero {
        grid-row: 1/37;
        grid-column: 21/101;
        padding: 1%;
    }

    .hero-img {
        width: 100%;
        height: 100%;
        grid-row: 1/101;
        grid-column: 1/101;
    }

    div>h2.hero-title {
        grid-row: 85/90;
        grid-column: 1/101;
        /*color: white;*/
    }

    .home-contact-button {
        grid-row: 93/98;
        grid-column: 10/91;
    }

    .home-slide-show {
        grid-row: 37/86;
        grid-column: 21/101;
    }

    .home-slide-show-display {
        grid-row: 1/101;
        grid-column: 1/101;
    }

    .home-slide-show-display h1 {
        grid-row: 2/7;
        grid-column: 1/101;
    }

    .home-slide-show-display section {
        grid-row: 7/73;
        grid-column: 1/101;
        padding: 0 8%;
    }

    .home-prev,
    .home-next {
        grid-row: 40/43;
        grid-column: 5/11;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        width: 1rem;
        padding: 1%;
    }

    /* Position the "next button" to the right */
    .home-next {
        grid-column: 95/101;
    }

    .main-grid h2 {
        grid-row: 76/81;
        grid-column: 1/101;
        padding: 1%;
    }

    .row {
        grid-row: 78/101;
        grid-column: 1/101;
        padding: 1.5% 0;
    }

    /**/
    .home-msg {
        grid-row: 86/101;
        grid-column: 31/76;
        padding: 2%;
    }
    /**/

    /**/
    .home-msg h2 {
        grid-row: 11/26;
    }
    /**/

    /**/
    .home-msg p {
        grid-row: 36/76;
    }
    /**/

    /**/
    .home-msg h2:nth-of-type(2) {
        grid-row: 86/101;
    }
    /**/

    /**/
    .home-see-more {
        grid-row: 86/101;
        grid-column: 76/101;
        padding: 2%;
    }
    /**/

    /**/
    .home-see-more-grid h2 {
        grid-row: 11/25;
        grid-column: 1/101;
    }
    /**/

    /**/
    .gwen-home {
        grid-row: 25/87;
        grid-column: 1/101;
        height: 100%;
        width: 100%;
    }
    /**/

    /**/
    .home-see-more-button {
        grid-row: 81/86;
        grid-column: 1/101;
    }
    /**/

    /**/
    .see_more_button {
        padding: .5%;
    }
    /**/

    .footer {
        grid-row: 98/101;
        grid-column: 1/101;
        background-color: var(--header-footer-background-color);
        color: var(--paragraph-color-on-color);
        font-weight: bold;
    }

    .footer-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }

    .footer-text {
        grid-row: 1/101;
        padding: 0 5%;
        margin: auto 0;
        text-align: center;
    }

    .footer-copywrite {
        grid-column: 1/34;
        text-align: left;
    }

    .footer-site-plan {
        grid-column: 34/46;
    }

    .footer-contact {
        grid-column: 46/67;
    }

    .footer-link {
        text-decoration: none;
        color: var(--paragraph-color-on-color);
    }

    /**
    .footer-site-plan-link {
    }
    /**/
    /**
    .footer-contact-link{
    }
    /**/

    .footer-link:hover {
        text-decoration: none;
        color: var(--accent2-color);
    }

    .footer-social {
        grid-row: 1/101;
        grid-column: 67/101;
        height: 100%;
        text-align: center;
    }

    .footer-social-grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(100, 1%);
        grid-template-columns: repeat(100, 1%);
    }

    .footer-social-link {
        grid-row: 20/81;
        opacity: .75;
    }

    .footer-social-link:hover {
        opacity: 1;
    }

    .footer-social-facebook {
        grid-column: 1/35;
    }

    .footer-social-twitter {
        grid-column: 35/68;
    }

    .footer-social-whatsapp {
        grid-column: 68/101;
    }

    .footer-social-img {
        height: 70%;
        width: 35%;
        padding: 10%;
    }

    /**
    .footer-social-facebook-img {
    }
    /**/
    /**
    .footer-social-twitter-img {
    }
    /**/
    /**
    .footer-social-whatsapp-img {
    }
    /**/
}