/*actual brand @import url('https://www.dafont.com/es/search.php?q=Skrapbook');*/
/*actual brand @import url('https://www.dafont.com/es/search.php?q=Hey+Comic');*/
/* web safe brand */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Edu+QLD+Beginner:wght@600&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #3e3e4d;
    --secondary-color: #f7bc16;
    --accent1-color: #732601;
    --accent2-color: #fee485;
    --accent3-color: #86836d;

    /* change the values below to your chosen font(s) */
    --heading-font: "Caveat", serif;
    --paragraph-font: "Edu QLD Beginner", sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */
    --headline-color-on-color: var(--primary-color);
    /* headlines on a colored background */
    --paragraph-color: var(--primary-color);
    /* paragraph text on a white background */
    --paragraph-color-on-color: var(--accent1-color);
    /* paragraph text on a colored background */
    --header-footer-background-color: var(--secondary-color);
    --header-footer-color: var(--primary-color);
    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: var(--accent1-color);
    --nav-background-color: var(--accent2-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent3-color);

    /* --headline-color-on-white:  var(--primary-color);  /* headlines on a white background */
    /* --headline-color-on-color: var(--accent1-color);  /* headlines on a colored background */
    /* --paragraph-color-on-white:  var(--primary-color);  /* paragraph text on a white background */
    /* --paragraph-color-on-color:  var(--accent1-color);  /* paragraph text on a colored background */
    /* --paragraph-background-color:var(--primary-color); */
    /* --nav-link-color: var(--primary-color); */
    /* --nav-background-color: var(--accent2-color); */
    /* --nav-hover-link-color:  var(--accent1-color); */
    /* --nav-hover-background-color: var(--accent3-color); */
}

.content {
    background-color: var(--accent2-color);
    color: var(--paragraph-color);
    display: grid;
    height: 9rem;
    grid-template-columns: 2fr 8fr 1fr;
    grid-template-rows: .5fr 3fr 20fr .5fr;
    margin: 0px;
}

.header {
    background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color), var(--nav-background-color));
    color: var(--paragraph-color-on-color);
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
}

.logo_link {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

.logo {
    width: 60%;
}

.language_navigation {
    grid-column: 3;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    margin-top: 1rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 1rem;
    width: 10rem;
}

.language_link {
    font: var(--heading-font);
    text-decoration: none;
    border-radius: .5em;
    margin-right: 3em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .25em;
    padding-bottom: .25em;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    border-style: inset;
}

.language_link:hover {
    border-style: outset;
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.language_link img {
    width: 20%;
    padding-right: 1em;
    vertical-align: middle;
}

.navigation {
    background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color));
    grid-column: 1;
    grid-row: 2/4;
}

.nav_link {
    display: block;
    font: var(--heading-font);
    text-decoration: none;
    text-align: left;
    font-size: x-large;
    padding: 1em;
    /*background-color: var(--nav-background-color);*/
    background-color: unset;
    color: var(--nav-link-color);
    width: 100%;
    border: unset;
}

.nav_link:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    width: 100%;
    text-align: left;
}

/* Create an active/current "tab button" class */
.navigation button.active {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.navigation button.active:hover {
    background-color: var(--nav-hover-link-color);
    color: var(--nav-hover-background-color);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.hero {
    background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color));
    color: var(--paragraph-color-on-color);
    grid-row: 2;
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1rem repeat(9, 1fr) 1rem;
}

.hero-img {
    grid-column: 2;
    grid-row: 2/11;
    height: 100%;
    width: 100%;
    z-index: 0;
    margin: auto 0;
    border-radius: 2em;
    border-style: outset;
}

.home-title {
    grid-column: 2;
    grid-row: 9;
    z-index: 1;
    vertical-align: bottom;
    font: var(--heading-font);
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    color: white;
}

.home-contact-button {
    grid-column: 2;
    grid-row: 10;
    z-index: 1;
}

.button-box {
    margin: auto;
}

.button-box a {
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font: var(--heading-font);
    text-align: center;
    text-decoration: none;
    padding: .5em;
    border-radius: .5em;
    border-style: inset;
}

.button-box a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-style: outset;
}

main {
    grid-row: 3;
    grid-column: 2/4;
    padding: 0;
    height: 75rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.home-grid {
    grid-row: 1;
    grid-column: 1;
    display: grid;
    margin: 0;
    padding: 0;
    height: 75rem;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.home-grid h1 {
    font: var(--heading-font);
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.home-grid h2 {
    font: var(--heading-font);
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.home-grid p {
    font: var(--paragraph-font);
    font-weight: normal;
    text-align: left;
}

/* Position the image container (needed to position the left and right arrows) */
.background {
    grid-row: 1/10;
    grid-column: 1/16;
    background-color: var(--header-footer-background-color);
    background-image: radial-gradient(circle, var(--nav-background-color), var(--paragraph-background-color));
    color: var(--paragraph-color-on-color);
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.home-container {
    grid-column: 6/11;
    grid-row: 1/11;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides p {
    text-align: center;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.home-prev,
.home-next {
    grid-row: 5;
    grid-column: 3;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    width: 1rem;
    padding: 2rem;
    color: var(--nav-hover-background-color);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.home-next {
    grid-column: 13;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    color: var(--nav-background-color);
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--paragraph-color-on-color);
    font-size: 12px;
    padding: 8px 12px;
    text-align: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 4%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.home-card-img {
    width: 100%;
    border-radius: 2rem;
    border-style: outset;
}

.demo {
    width: 100%;
}

.home-msg {
    grid-row: 10/13;
    grid-column: 2/12;
    color: var(--headline-color-on-color);
    font: var(--heading-font);
    font-weight: bolder;
    height: 20rem;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: repeat(16, 2rem);
}

.home-msg h2 {
    grid-row: 2/4;
    grid-column: 2;
    margin-top: 1rem;
}

.home-msg h2:nth-of-type(2) {
    grid-row: 8/10;
    grid-column: 2;
    margin-bottom: 0;
}

.home-msg p {
    grid-row: 5/8;
    grid-column: 2;
    text-indent: 10%;
}

.home-see-more {
    grid-row: 10/13;
    grid-column: 12/16;
    height: 20rem;
}

.msg {
    display: grid;
    grid-template-columns: 1fr 1fr 15fr 1fr 1fr;
    grid-template-rows: 2rem 2rem 2rem 6rem 3rem 3rem;
}

.msg h2 {
    grid-row: 1;
    grid-column: 3;
}

.gwen-home {
    grid-row: 4/7;
    grid-column: 3;
    height: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    border-style: outset;
}

.home-see-more-button {
    grid-row: 6;
    grid-column: 3;
}

.see_more_button {
    vertical-align: bottom;
    width: 5rem;
    height: 1rem;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
    font: var(--heading-font);
    text-align: center;
    text-decoration: none;
    padding: .5em;
    border-radius: .5em;
    border-style: inset;
    margin: 0 auto;
}

.see_more_button:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    border-style: outset;
}

.footer {
    background-color: var(--header-footer-background-color);
    color: var(--paragraph-color-on-color);
    font-weight: bold;
    grid-row: 4;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2rem;
    grid-template-rows: 2rem 1fr 2rem;
}

.footer p {
    grid-row: 2;
    vertical-align: middle;
    margin: auto;
}

.footer p a {
    text-decoration: none;
    color: var(--paragraph-color-on-color);
}

.footer p a {
    text-decoration: none;
    color: var(--paragraph-color-on-color);
}

.footer p a:hover {
    text-decoration: none;
    color: var(--accent2-color);
}

.social {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 2em;
}

.social a img {
    width: 5rem;
}

@media screen and (max-width: 750px) {
    * {
        padding: 0px;
        margin: 0px;
    }
    .content {
        height: 9rem;
        grid-template-columns: 0fr 8fr 0fr;
        grid-template-rows: repeat(20, 1fr) 10rem;
        margin: 0px;
    }
    
    .header {
        grid-template-columns: 0fr 8fr 0fr;
    }
    
    .logo {
        width: 100%;
    }
    
    .language_navigation {
        grid-column: 3;
        width: 3rem;
        height: 1rem;
        gap: 0;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 0px;
    }

    .language_link {
        width: 3.25rem;
        padding: .1rem;
    }

    .language_link:nth-of-type(1) {
        display: none;
    }

    .language_link img {
        display: none;
    }
    
    .navigation {
        background-image: linear-gradient(var(--nav-background-color), var(--paragraph-background-color));
        grid-column: 1;
        grid-row: 2/4;
        width: 8.5rem;
    }
    
    .nav_link {
        width: 100%;
    }
    
    .nav_link:hover {
        width: 100%;
    }
    
    .hero {
        grid-row: 2;
        grid-column: 2/4;
        display: grid;
        grid-template-columns: 0fr 4fr 0fr;
        grid-template-rows: 0fr repeat(3, 1fr) 0fr;
        height: 32rem;
    }
    
    .hero-img {
        grid-column: 2;
        grid-row: 2;
        height: 20rem;
        width: 100%;
    }
    
    .home-title {
        grid-column: 2;
        grid-row: 3;
        z-index: 1;
        padding: 1rem 0;
        font: var(--heading-font);
        font-weight: bolder;
        font-size: x-large;
        text-align: center;
        color: var(--paragraph-color-on-color);
    }
    
    .home-contact-button {
        grid-column: 2;
        grid-row: 4;
        z-index: 1;
    }
    
    main {
        grid-row: 3/11;
        height: 87rem;
    }
    
    .home-grid {
        height: 87rem;
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
    
    .home-container {
        grid-column: 1/16;
        grid-row: 2/13;
    }

    .home-prev,
    .home-next {
        grid-row: 1;
        grid-column: 3;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
        width: 1rem;
    }
    
    /* Position the "next button" to the right */
    .home-next {
        grid-column: 13;
    }
    
    .home-msg {
        grid-row: 10/14;
        grid-column: 1/16;
        display: grid;
        grid-template-columns: 0rem 1fr 0rem;
        grid-template-rows: repeat(16, 2rem);
        height: 26rem;
    }
    
    .home-msg h2 {
        grid-row: 1;
        grid-column: 2;
        margin-top: 1rem;
    }
    
    .home-msg h2:nth-of-type(2) {
        grid-row: 12/15;
        grid-column: 2;
        margin-bottom: 0;
    }
    
    .home-msg p {
        grid-row: 6/10;
        grid-column: 2;
        text-indent: 10%;
        padding: .5rem;
    }
        
    .home-see-more {
        grid-row: 17/20;
        grid-column: 1/16;
        height: 22rem;
        padding-top: 3rem;
    }
    
    .gwen-home {
        height: 100%;
    }
    
    .see_more_button {
        width: 5rem;
        height: 1rem;
    }
    
    .footer p {
        padding-left: 1.25rem;
    }

    .social {
        gap: .5rem;
        margin: auto 0;
        padding-left: 1rem;
    }

    .social a img {
        width: 2rem;
    }
}

@media screen and (min-width: 1600px) {
    .content {
        height: 9rem;
    }
    
    .logo {
        width: 60%;
    }
    
    .language_navigation {
        width: 10rem;
    }
    
    .nav_link {
        width: 100%;
    }
    
    .nav_link:hover {
        width: 100%;
    }
    
    .hero-img {
        height: 100%;
        width: 100%;
    }
    
    main {
        height: 90rem;
    }
    
    .home-grid {
        height: 90rem;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
        width: 1rem;
    }
    
    .column {
        width: 25%;
        padding: 4%;
    }
    
    .home-card-img {
        width: 100%;
    }
    
    .home-msg {
        height: 20rem;
    }
    
    .home-see-more {
        height: 20rem;
    }
    
    .gwen-home {
        height: 100%;
    }
    
    .see_more_button {
        width: 5rem;
        height: 1rem;
    }
    
    .social a img {
        width: 5rem;
    }
}
